/* Hoja de estilos */
*{
    padding: 0;
    margin: 0;
}

body {
    background: rgb(143, 142, 142);   
    
}

.gridcontainer {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 50px 95vh auto 100px;
    grid-template-areas: "navbar navbar navbar"
                        "jumbo jumbo jumbo"
                        ". main ."
                        "footer footer footer"
}

nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: auto;
    background: rgb(39, 39, 39);
    grid-area: navbar;
    position: sticky;
    top: 0px;
    z-index: 10;
}

#icono {
    height: 90px;  
    width: auto;
    z-index: 4;
    overflow: auto;
}

.saturn {
    position: relative;
    left: 3vw;
}

nav > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50 px;
    /* padding-left: 100px;
    padding-right: 100px; */

    

}

.navbar {
    padding: 3vw;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.navbar:hover {
    text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
    color: lightcoral;

}

header {
    grid-area: jumbo;
}

.header {
    background-image: linear-gradient(rgba(255, 255, 255, 0), #8f8e8e), url("Jumbotron2.png");
    /* background: linear-gradient(#e66465, #9198e5); */
    height: 95vh;
    width: auto;
    background-size: 147%;
    opacity: 0.5;
    z-index: 1;
}

.titulo {
    font-family: 'Bangers', cursive;
    color: white;
    font-size: 100px;
    /* font-weight: bold; */
    text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
    position: absolute;
    z-index: 2;    
    top: 17vw;
    left: 18vw;
}

main {
    grid-area: main;
}

.cuadro {
    height: auto;
    background-color: rgba(78, 78, 78, 0.863);
    border-radius: 15px;
    box-shadow: 9px 10px 10px 0px rgba(0,0,0,0.6);
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    padding: 3vw;
}

.imagenes {
    /* width: 80%; */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

}

.imagen {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;

}

.comprar {
    text-align: center;
    padding: 10px 20px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

.listita {
    font-family: 'Roboto', sans-serif;
    width: 180px;
    margin: 2vw;
    padding: 1vw;
    background-color: rgba(78, 78, 78, 0.863);
    border-radius: 15px;
    box-shadow: 9px 10px 10px 0px rgba(0,0,0,0.6);
    position: sticky;

}

ul {
    list-style-type: none;
    color: white;
    
    
}

li {
    padding: 2px;
}