@media only screen and (max-width: 600px) {
    .gridCatalogo {
        
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "lista" 
                        "stickersCatalogo";
    }

    .listita {
        font-family: 'Roboto', sans-serif;
        width: 80vw;
        margin: 4vw;
        padding: 1vw;
        background-color: rgba(78, 78, 78, 0.863);
        border-radius: 15px;
        box-shadow: 9px 10px 10px 0px rgba(0,0,0,0.6);
        position:unset;
        top: 80px;
        grid-area: lista;
        height: 490px;
        grid-area: lista;
        text-align: center;
    
    }

    .imagenesCat {
        
        height: 90vw;
        width: auto;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        margin-top: 2vw;
        width: 40%;
     
    }

    .listita {
        font-family: 'Roboto', sans-serif;
        width: 50vw;
        margin: 4vw;
        padding: 1vw;
        background-color: rgba(78, 78, 78, 0.863);
        border-radius: 15px;
        box-shadow: 9px 10px 10px 0px rgba(0,0,0,0.6);
        position:unset;
        top: 80px;
        grid-area: lista;
        height: 490px;
        grid-area: lista;
        text-align: center;
   
    }

}

@media only screen and (max-width: 850px) {
    
    .imagenesCat {
        
        height: 50vw;
        width: auto;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        margin-top: 2vw;
        width: 30%;
     
    }

}