/* Hoja de estilos */
*{
    padding: 0;
    margin: 0;
}

body {
    background: rgb(143, 142, 142);   
}

.gridcontainer {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: 50px 95vh auto auto;
    grid-template-areas: "navbar navbar navbar"
                        "jumbo jumbo jumbo"
                        "main main main"
                        "footer footer footer"
}

nav {
    display: flex;
    justify-content: space-between;
    height: 50px;
    width: auto;
    background: rgb(39, 39, 39);
    grid-area: navbar;
    position: sticky;
    top: 0px;
    z-index: 17;
}

#icono {
    height: 90px;  
    width: auto;
    z-index: 4;
    overflow: auto;
}

.saturn {
    position: relative;
    left: 3vw;
}

nav > div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50 px;
    /* padding-left: 100px;
    padding-right: 100px; */
}

.navbar {
    padding: 3vw;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.navbar:hover {
    text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
    color: lightcoral;

}

header {
    grid-area: jumbo;
}

.header {
    background-image: linear-gradient(rgba(255, 255, 255, 0), #8f8e8e), url("Jumbotron2.png");
    /* background: linear-gradient(#e66465, #9198e5); */
    height: 95vh;
    width: auto;
    background-size: 147%;
    opacity: 0.5;
    z-index: 1;
}

.titulo {
    font-family: 'Bangers', cursive;
    color: white;
    font-size: 100px;
    /* font-weight: bold; */
    text-shadow: 0 0 10px black, 0 0 10px black, 0 0 10px black, 0 0 10px black;
    position: absolute;
    z-index: 2;    
    top: 17vw;
    left: 18vw;
}


main{
    grid-area: main;
}

.gridcontainer2 {
    display: grid;
    grid-template-columns: 15% 70% 15%;
    grid-template-rows: auto 130px auto;
    grid-template-areas: ". main2 ."
                        "empty empty empty"
                        "client client client"
}

.novedades{
    grid-area: main2;
}

.cuadro {
    height: auto;
    background-color: rgba(78, 78, 78, 0.863);
    border-radius: 15px;
    box-shadow: 9px 10px 10px 0px rgba(0,0,0,0.6);
    display: grid;
    grid-template-columns: 30% 30% 30%;
    column-gap: 5%;
    padding: 3vw;
}

.imagenes {
    /* width: 80%; */
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;

}

.imagen {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0px 0px;

}

.comprar {
    text-align: center;
    padding: 10px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;


}

a {
    color: inherit;
    text-decoration: inherit;
}

.ultimos {
    color: black;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: bold;
    position: absolute;
    bottom: 13vw;
    transform: rotate(-28deg);
    left: 180px; 
    bottom: -110px;
    z-index: 14;
    font-family: 'Permanent Marker', cursive;

    

}

#dialogoultimos{
    width: 20vw;
    height: auto;
    position: absolute;
    left: -60px;
    top: -45px;
    z-index: -1;
}

.button{
    background-color: coral;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: right;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}



ul {
    list-style-type: none;
    color: white;
    
    
}

li {
    padding: 2px;
}

.gridCatalogo {
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-areas: "lista stickersCatalogo";
}



.listita {
    font-family: 'Roboto', sans-serif;
    width: 15vw;
    margin: 2vw;
    padding: 1vw;
    background-color: rgba(78, 78, 78, 0.863);
    border-radius: 15px;
    box-shadow: 9px 10px 10px 0px rgba(0,0,0,0.6);
    position: sticky;
    top: 80px;
    grid-area: lista;
    height: 490px;
    grid-area: lista;

}

.tituloID {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 30px;
    margin-top: 20px;  

}

.lineaStickers {
    grid-area: stickersCatalogo;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imagenesCat {
    height: 350px;
    width: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    margin-top: 2vw;
    width: 15%;
 
}


li {
    padding: 2px;
}

.clientes {
    grid-area: client;
    /* background: linear-gradient(180deg, rgba(255,255,255,0) 0%, rgb(48, 47, 47) 50%, rgba(255,255,255,0) 100%); */
    background-image: linear-gradient(#8f8e8e, rgba(255, 255, 255, 0.5)), url(fondos/4.jpg);
    background-size: 90%;
    z-index: 1;
    height: 45vw;
    width: auto;
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
}

#dialogoclientes{
    width: 20vw;
    height: auto;
    position: absolute;
    left: 1000px;
    top: 1260px;
    z-index: 3;
    transform: rotate(25deg);
}

.tituloClientes {
    color: black;
    /* font-family: 'Roboto', sans-serif; */
    font-weight: bold;
    position: absolute;
    left: 1050px;
    top: 1300px;
    transform: rotate(10deg);
    color: rgb(34, 34, 94);
    z-index: 4;
}




.carrusel {
    display: flex;
    justify-content: space-around;
    padding: 0vw 2vw 0vw 2vw;
}

.imagenes2 {
    margin: auto;
    border-radius: 10px;
    width: auto;
    background-color: white;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.imagenes2:hover {
    transform: scale(1.1);
    transition-duration: 500ms;
    z-index: 15;
}

.imagenes2 img {
    width: 100%;
    height: auto;
    border-radius: 0px 0px 10px 10px;
    margin-bottom: -5px;
}

iframe {
    margin-bottom: -5px;
    border-radius: 0px 0px 10px 10px;
}


.imagenes3 {
    margin: 50px;
    border-radius: 10px;
    float: left;
    width: auto;
    background-color: white;
    box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imagenes3:hover {
    transform: scale(1.1);
    transition-duration: 500ms;
}

.imagenes3 img {
    width: 100%;
    height: 400px;
    border-radius: 10px 10px 0px 0px;
}


.desc {
    padding: 15px;
    text-align: center;
    color: black;
}

.stars{
    padding: 0px 0px 10px 30px;
    
}
.checked {
    color: rgb(248, 161, 103);
}

.imagen2 {
    width: 25vw;
    height: 30vw;
    border-radius: 10px 10px 10px 10px;
} 
  .notchecked{
    color: rgb(148, 146, 145);
}

  footer {
    background: rgb(39, 39, 39);
    padding: 20px;
    grid-area: footer;
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: black;


}

.redes {
    width: 35px;
    height: auto;
}

.form-label{
    font-weight: bold;
}

.form-text{
    color: rgb(141, 66, 39);
    font-weight: bolder;
}

.fondoPersonalizados {
    background-image: linear-gradient(#8f8e8e, rgba(255, 255, 255, 0.5)), url(fondos/1.jpg);
}

.tituloContacto {
    font-family: 'Permanent Marker', cursive;
}